PORT=4000
CLIENT_URL=http://localhost:8000
JWT_SECRET=borrow-equipment-secret

DB_HOST=localhost
DB_PORT=3306
DB_NAME=borrow_equipment
DB_USER=root
DB_PASSWORD=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
